@use "../globals.scss" as global;

.filters {
  display: flex;
  flex-direction: column;
  .game-filter {
    margin: auto;
    select {
      background-color: global.$orange-800;
    }
  }
  .player-filter {
    margin: auto;
    input {
      background-color: global.$orange-800;
    }
  }
  .faction-filter {
    margin: auto;
    select {
      background-color: global.$orange-800;
    }
  }
}

.map-stats {
  margin: 10px;
  display: flex;
  row-gap: 20px;
}

.map-wrapper {
  height: 80vh;
  width: 50%;
  align-content: center;
}

@media (min-aspect-ratio: 1) {
  .map-wrapper {
    height: 80vh;
    width: 50%;
  }

  .stats-container {
    width: 50%;
  }
}

@media (max-aspect-ratio: 0.999) {
  .map-stats {
    flex-direction: column;
  }

  .map-wrapper {
    height: 50vh;
    width: 100%;
  }

  .stats-container {
    width: 100%;
  }
}