.map-parent {
  width: 100%;
  height: 100%;
}

.map-container {
  position: relative;
  z-index: 2;
  border: 2px solid black;
  aspect-ratio: 1/1;
  margin: auto;
  max-height: 100%;
}

.map {
  display: grid;
}

.map-square {
  cursor: pointer;
  aspect-ratio: 1 / 1;
  background-color: unset;
  opacity: 75%;

  &:hover {
    margin: -1px;
    border: 1px dashed black;
  }

  &.selected {
    margin: -1px;
    border: 1px solid black;
  }
}

.map-instructions {
  position: absolute;
  font-size: 10px;
}

.map-settings {
  position: relative;
  left: 94%;
  top: -10px;
}