.map-container {
  background-color: white;
  z-index: -5;
  border: 2px solid black;
}

.map {
  display: grid;
}

.map-square {
  cursor: pointer;
  aspect-ratio: 1 / 1;

  
  &:hover {
    margin: -1px;
    border: 1px dashed red;
  }

  &.selected {
    margin: -1px;
    border: 1px solid red;
  }
}

.map-instructions {
  position: absolute;
  font-size: 10px;
}