@use '../../app/globals.scss' as global;

.map-parent {
  width: 100%;
  height: 100%;
}

.map-container {
  position: relative;
  z-index: 2;
  border: 2px solid black;
  max-height: 100%;
}

.map {
  aspect-ratio: 1/1;
}

#map-canvas {
  cursor: pointer;
}

.map-instructions {
  position: absolute;
  font-size: 10px;
}

.map-settings {
  position: relative;
  left: 98.5%;
  width: fit-content;
}

.settings-popover {
  background-color: global.$orange-700;
}